@import "tailwindcss";
@config "../tailwind.config.js";

body {
  font-family: 'Inter', sans-serif;
}

/* Enterprise Scrollbar Design */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  /* slate-300 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
  /* slate-400 */
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}